* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.slider {
    width: 500px;
    overflow: hidden;
}

.image-container {
    display: flex;
    /* transform: translateX(-1000px); */

}

.image-container img {
    display: block;
    width: 100%;
    object-fit: cover;
}

.buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 6px;
}